<h1>{{ name }}</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroeDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button class="btn btn-primary" (click)="changeHero()" *ngIf="name !== 'Paco'">
  Cambiar Nombre
</button>
<button class="btn btn-success mx-2" (click)="changeAge()" *ngIf="age !== 37">
  Cambiar Edad
</button>
<button class="btn btn-secondary" (click)="resetForm()">Reset</button>
